.flex-display {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.editor {
    text-align: left; 
    width: inherit;
    margin: auto;
}

.card {
    padding: 32px;
}

/* .left-width {
    width: 30%;
} */

.list-buttons {
    display: flex;
    justify-content: space-evenly;
}