.flex-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor {
    text-align: left; 
    width: inherit;
}

.left-width {
    width: 30%;
}

.list-buttons {
    display: flex;
    justify-content: space-evenly;
}