.main-container {
    margin-top: 5%;
}

.list-item {
  cursor: pointer;
  margin-top: 1%;
}

.list-box {
    width: 100%; 
    display: flex; 
    flex-direction: column;
}

.list {
    height: 500px;
    overflow: scroll;
}

/* .list-item:active {
  background-color: aquamarine;
  color: wheat;
} */

.selected-item {
    background-color: #1890ff !important;
}